/* File: automatic-bricks-in-builder.css - Version: 3.3.5 - Generated: 2025-07-19 20:09:11 */
#bricks-popup.templates img {
  object-fit: cover !important;
}
#bricks-popup .bricks-layout-item-inner.has-img:hover .overlay-wrapper {
  opacity: 0.5;
}
#bricks-popup.templates .bricks-layout-item-inner .button.type {
  display: none !important;
}
#bricks-popup.templates .bricks-layout-item-inner .overlay-wrapper .user {
  display: none !important;
}
#bricks-popup.templates #bricks-popup-inner {
  max-width: 100% !important;
}
#bricks-structure .panel-content > .bricks-structure-list {
  padding-block-end: 50px;
}
[data-balloon="transparent"].color-button {
  border: 1px dashed black;
}
