/* File: automatic-gutenberg-color-palette.css - Version: 3.3.5 - Generated: 2025-07-19 20:09:14 */
.has-primary-color {
  color: var(--primary);
}
.has-primary-background-color {
  background-color: var(--primary);
}
.has-primary-border-color {
  border-color: var(--primary);
}
.has-primary-hover-color {
  color: var(--primary-hover);
}
.has-primary-hover-background-color {
  background-color: var(--primary-hover);
}
.has-primary-hover-border-color {
  border-color: var(--primary-hover);
}
.has-primary-ultra-light-color {
  color: var(--primary-ultra-light);
}
.has-primary-ultra-light-background-color {
  background-color: var(--primary-ultra-light);
}
.has-primary-ultra-light-border-color {
  border-color: var(--primary-ultra-light);
}
.has-primary-light-color {
  color: var(--primary-light);
}
.has-primary-light-background-color {
  background-color: var(--primary-light);
}
.has-primary-light-border-color {
  border-color: var(--primary-light);
}
.has-primary-semi-light-color {
  color: var(--primary-semi-light);
}
.has-primary-semi-light-background-color {
  background-color: var(--primary-semi-light);
}
.has-primary-semi-light-border-color {
  border-color: var(--primary-semi-light);
}
.has-primary-semi-dark-color {
  color: var(--primary-semi-dark);
}
.has-primary-semi-dark-background-color {
  background-color: var(--primary-semi-dark);
}
.has-primary-semi-dark-border-color {
  border-color: var(--primary-semi-dark);
}
.has-primary-dark-color {
  color: var(--primary-dark);
}
.has-primary-dark-background-color {
  background-color: var(--primary-dark);
}
.has-primary-dark-border-color {
  border-color: var(--primary-dark);
}
.has-primary-ultra-dark-color {
  color: var(--primary-ultra-dark);
}
.has-primary-ultra-dark-background-color {
  background-color: var(--primary-ultra-dark);
}
.has-primary-ultra-dark-border-color {
  border-color: var(--primary-ultra-dark);
}
.has-primary-trans-10-color {
  color: var(--primary-trans-10);
}
.has-primary-trans-10-background-color {
  background-color: var(--primary-trans-10);
}
.has-primary-trans-10-border-color {
  border-color: var(--primary-trans-10);
}
.has-primary-trans-20-color {
  color: var(--primary-trans-20);
}
.has-primary-trans-20-background-color {
  background-color: var(--primary-trans-20);
}
.has-primary-trans-20-border-color {
  border-color: var(--primary-trans-20);
}
.has-primary-trans-30-color {
  color: var(--primary-trans-30);
}
.has-primary-trans-30-background-color {
  background-color: var(--primary-trans-30);
}
.has-primary-trans-30-border-color {
  border-color: var(--primary-trans-30);
}
.has-primary-trans-40-color {
  color: var(--primary-trans-40);
}
.has-primary-trans-40-background-color {
  background-color: var(--primary-trans-40);
}
.has-primary-trans-40-border-color {
  border-color: var(--primary-trans-40);
}
.has-primary-trans-50-color {
  color: var(--primary-trans-50);
}
.has-primary-trans-50-background-color {
  background-color: var(--primary-trans-50);
}
.has-primary-trans-50-border-color {
  border-color: var(--primary-trans-50);
}
.has-primary-trans-60-color {
  color: var(--primary-trans-60);
}
.has-primary-trans-60-background-color {
  background-color: var(--primary-trans-60);
}
.has-primary-trans-60-border-color {
  border-color: var(--primary-trans-60);
}
.has-primary-trans-70-color {
  color: var(--primary-trans-70);
}
.has-primary-trans-70-background-color {
  background-color: var(--primary-trans-70);
}
.has-primary-trans-70-border-color {
  border-color: var(--primary-trans-70);
}
.has-primary-trans-80-color {
  color: var(--primary-trans-80);
}
.has-primary-trans-80-background-color {
  background-color: var(--primary-trans-80);
}
.has-primary-trans-80-border-color {
  border-color: var(--primary-trans-80);
}
.has-primary-trans-90-color {
  color: var(--primary-trans-90);
}
.has-primary-trans-90-background-color {
  background-color: var(--primary-trans-90);
}
.has-primary-trans-90-border-color {
  border-color: var(--primary-trans-90);
}
.has-primary-light-trans-10-color {
  color: var(--primary-light-trans-10);
}
.has-primary-light-trans-10-background-color {
  background-color: var(--primary-light-trans-10);
}
.has-primary-light-trans-10-border-color {
  border-color: var(--primary-light-trans-10);
}
.has-primary-light-trans-20-color {
  color: var(--primary-light-trans-20);
}
.has-primary-light-trans-20-background-color {
  background-color: var(--primary-light-trans-20);
}
.has-primary-light-trans-20-border-color {
  border-color: var(--primary-light-trans-20);
}
.has-primary-light-trans-30-color {
  color: var(--primary-light-trans-30);
}
.has-primary-light-trans-30-background-color {
  background-color: var(--primary-light-trans-30);
}
.has-primary-light-trans-30-border-color {
  border-color: var(--primary-light-trans-30);
}
.has-primary-light-trans-40-color {
  color: var(--primary-light-trans-40);
}
.has-primary-light-trans-40-background-color {
  background-color: var(--primary-light-trans-40);
}
.has-primary-light-trans-40-border-color {
  border-color: var(--primary-light-trans-40);
}
.has-primary-light-trans-50-color {
  color: var(--primary-light-trans-50);
}
.has-primary-light-trans-50-background-color {
  background-color: var(--primary-light-trans-50);
}
.has-primary-light-trans-50-border-color {
  border-color: var(--primary-light-trans-50);
}
.has-primary-light-trans-60-color {
  color: var(--primary-light-trans-60);
}
.has-primary-light-trans-60-background-color {
  background-color: var(--primary-light-trans-60);
}
.has-primary-light-trans-60-border-color {
  border-color: var(--primary-light-trans-60);
}
.has-primary-light-trans-70-color {
  color: var(--primary-light-trans-70);
}
.has-primary-light-trans-70-background-color {
  background-color: var(--primary-light-trans-70);
}
.has-primary-light-trans-70-border-color {
  border-color: var(--primary-light-trans-70);
}
.has-primary-light-trans-80-color {
  color: var(--primary-light-trans-80);
}
.has-primary-light-trans-80-background-color {
  background-color: var(--primary-light-trans-80);
}
.has-primary-light-trans-80-border-color {
  border-color: var(--primary-light-trans-80);
}
.has-primary-light-trans-90-color {
  color: var(--primary-light-trans-90);
}
.has-primary-light-trans-90-background-color {
  background-color: var(--primary-light-trans-90);
}
.has-primary-light-trans-90-border-color {
  border-color: var(--primary-light-trans-90);
}
.has-primary-dark-trans-10-color {
  color: var(--primary-dark-trans-10);
}
.has-primary-dark-trans-10-background-color {
  background-color: var(--primary-dark-trans-10);
}
.has-primary-dark-trans-10-border-color {
  border-color: var(--primary-dark-trans-10);
}
.has-primary-dark-trans-20-color {
  color: var(--primary-dark-trans-20);
}
.has-primary-dark-trans-20-background-color {
  background-color: var(--primary-dark-trans-20);
}
.has-primary-dark-trans-20-border-color {
  border-color: var(--primary-dark-trans-20);
}
.has-primary-dark-trans-30-color {
  color: var(--primary-dark-trans-30);
}
.has-primary-dark-trans-30-background-color {
  background-color: var(--primary-dark-trans-30);
}
.has-primary-dark-trans-30-border-color {
  border-color: var(--primary-dark-trans-30);
}
.has-primary-dark-trans-40-color {
  color: var(--primary-dark-trans-40);
}
.has-primary-dark-trans-40-background-color {
  background-color: var(--primary-dark-trans-40);
}
.has-primary-dark-trans-40-border-color {
  border-color: var(--primary-dark-trans-40);
}
.has-primary-dark-trans-50-color {
  color: var(--primary-dark-trans-50);
}
.has-primary-dark-trans-50-background-color {
  background-color: var(--primary-dark-trans-50);
}
.has-primary-dark-trans-50-border-color {
  border-color: var(--primary-dark-trans-50);
}
.has-primary-dark-trans-60-color {
  color: var(--primary-dark-trans-60);
}
.has-primary-dark-trans-60-background-color {
  background-color: var(--primary-dark-trans-60);
}
.has-primary-dark-trans-60-border-color {
  border-color: var(--primary-dark-trans-60);
}
.has-primary-dark-trans-70-color {
  color: var(--primary-dark-trans-70);
}
.has-primary-dark-trans-70-background-color {
  background-color: var(--primary-dark-trans-70);
}
.has-primary-dark-trans-70-border-color {
  border-color: var(--primary-dark-trans-70);
}
.has-primary-dark-trans-80-color {
  color: var(--primary-dark-trans-80);
}
.has-primary-dark-trans-80-background-color {
  background-color: var(--primary-dark-trans-80);
}
.has-primary-dark-trans-80-border-color {
  border-color: var(--primary-dark-trans-80);
}
.has-primary-dark-trans-90-color {
  color: var(--primary-dark-trans-90);
}
.has-primary-dark-trans-90-background-color {
  background-color: var(--primary-dark-trans-90);
}
.has-primary-dark-trans-90-border-color {
  border-color: var(--primary-dark-trans-90);
}
.has-primary-ultra-dark-trans-10-color {
  color: var(--primary-ultra-dark-trans-10);
}
.has-primary-ultra-dark-trans-10-background-color {
  background-color: var(--primary-ultra-dark-trans-10);
}
.has-primary-ultra-dark-trans-10-border-color {
  border-color: var(--primary-ultra-dark-trans-10);
}
.has-primary-ultra-dark-trans-20-color {
  color: var(--primary-ultra-dark-trans-20);
}
.has-primary-ultra-dark-trans-20-background-color {
  background-color: var(--primary-ultra-dark-trans-20);
}
.has-primary-ultra-dark-trans-20-border-color {
  border-color: var(--primary-ultra-dark-trans-20);
}
.has-primary-ultra-dark-trans-30-color {
  color: var(--primary-ultra-dark-trans-30);
}
.has-primary-ultra-dark-trans-30-background-color {
  background-color: var(--primary-ultra-dark-trans-30);
}
.has-primary-ultra-dark-trans-30-border-color {
  border-color: var(--primary-ultra-dark-trans-30);
}
.has-primary-ultra-dark-trans-40-color {
  color: var(--primary-ultra-dark-trans-40);
}
.has-primary-ultra-dark-trans-40-background-color {
  background-color: var(--primary-ultra-dark-trans-40);
}
.has-primary-ultra-dark-trans-40-border-color {
  border-color: var(--primary-ultra-dark-trans-40);
}
.has-primary-ultra-dark-trans-50-color {
  color: var(--primary-ultra-dark-trans-50);
}
.has-primary-ultra-dark-trans-50-background-color {
  background-color: var(--primary-ultra-dark-trans-50);
}
.has-primary-ultra-dark-trans-50-border-color {
  border-color: var(--primary-ultra-dark-trans-50);
}
.has-primary-ultra-dark-trans-60-color {
  color: var(--primary-ultra-dark-trans-60);
}
.has-primary-ultra-dark-trans-60-background-color {
  background-color: var(--primary-ultra-dark-trans-60);
}
.has-primary-ultra-dark-trans-60-border-color {
  border-color: var(--primary-ultra-dark-trans-60);
}
.has-primary-ultra-dark-trans-70-color {
  color: var(--primary-ultra-dark-trans-70);
}
.has-primary-ultra-dark-trans-70-background-color {
  background-color: var(--primary-ultra-dark-trans-70);
}
.has-primary-ultra-dark-trans-70-border-color {
  border-color: var(--primary-ultra-dark-trans-70);
}
.has-primary-ultra-dark-trans-80-color {
  color: var(--primary-ultra-dark-trans-80);
}
.has-primary-ultra-dark-trans-80-background-color {
  background-color: var(--primary-ultra-dark-trans-80);
}
.has-primary-ultra-dark-trans-80-border-color {
  border-color: var(--primary-ultra-dark-trans-80);
}
.has-primary-ultra-dark-trans-90-color {
  color: var(--primary-ultra-dark-trans-90);
}
.has-primary-ultra-dark-trans-90-background-color {
  background-color: var(--primary-ultra-dark-trans-90);
}
.has-primary-ultra-dark-trans-90-border-color {
  border-color: var(--primary-ultra-dark-trans-90);
}
.has-white-color {
  color: var(--white);
}
.has-white-background-color {
  background-color: var(--white);
}
.has-white-border-color {
  border-color: var(--white);
}
.has-black-color {
  color: var(--black);
}
.has-black-background-color {
  background-color: var(--black);
}
.has-black-border-color {
  border-color: var(--black);
}
.has-white-trans-10-color {
  color: var(--white-trans-10);
}
.has-white-trans-10-background-color {
  background-color: var(--white-trans-10);
}
.has-white-trans-10-border-color {
  border-color: var(--white-trans-10);
}
.has-white-trans-20-color {
  color: var(--white-trans-20);
}
.has-white-trans-20-background-color {
  background-color: var(--white-trans-20);
}
.has-white-trans-20-border-color {
  border-color: var(--white-trans-20);
}
.has-white-trans-30-color {
  color: var(--white-trans-30);
}
.has-white-trans-30-background-color {
  background-color: var(--white-trans-30);
}
.has-white-trans-30-border-color {
  border-color: var(--white-trans-30);
}
.has-white-trans-40-color {
  color: var(--white-trans-40);
}
.has-white-trans-40-background-color {
  background-color: var(--white-trans-40);
}
.has-white-trans-40-border-color {
  border-color: var(--white-trans-40);
}
.has-white-trans-50-color {
  color: var(--white-trans-50);
}
.has-white-trans-50-background-color {
  background-color: var(--white-trans-50);
}
.has-white-trans-50-border-color {
  border-color: var(--white-trans-50);
}
.has-white-trans-60-color {
  color: var(--white-trans-60);
}
.has-white-trans-60-background-color {
  background-color: var(--white-trans-60);
}
.has-white-trans-60-border-color {
  border-color: var(--white-trans-60);
}
.has-white-trans-70-color {
  color: var(--white-trans-70);
}
.has-white-trans-70-background-color {
  background-color: var(--white-trans-70);
}
.has-white-trans-70-border-color {
  border-color: var(--white-trans-70);
}
.has-white-trans-80-color {
  color: var(--white-trans-80);
}
.has-white-trans-80-background-color {
  background-color: var(--white-trans-80);
}
.has-white-trans-80-border-color {
  border-color: var(--white-trans-80);
}
.has-white-trans-90-color {
  color: var(--white-trans-90);
}
.has-white-trans-90-background-color {
  background-color: var(--white-trans-90);
}
.has-white-trans-90-border-color {
  border-color: var(--white-trans-90);
}
.has-black-trans-10-color {
  color: var(--black-trans-10);
}
.has-black-trans-10-background-color {
  background-color: var(--black-trans-10);
}
.has-black-trans-10-border-color {
  border-color: var(--black-trans-10);
}
.has-black-trans-20-color {
  color: var(--black-trans-20);
}
.has-black-trans-20-background-color {
  background-color: var(--black-trans-20);
}
.has-black-trans-20-border-color {
  border-color: var(--black-trans-20);
}
.has-black-trans-30-color {
  color: var(--black-trans-30);
}
.has-black-trans-30-background-color {
  background-color: var(--black-trans-30);
}
.has-black-trans-30-border-color {
  border-color: var(--black-trans-30);
}
.has-black-trans-40-color {
  color: var(--black-trans-40);
}
.has-black-trans-40-background-color {
  background-color: var(--black-trans-40);
}
.has-black-trans-40-border-color {
  border-color: var(--black-trans-40);
}
.has-black-trans-50-color {
  color: var(--black-trans-50);
}
.has-black-trans-50-background-color {
  background-color: var(--black-trans-50);
}
.has-black-trans-50-border-color {
  border-color: var(--black-trans-50);
}
.has-black-trans-60-color {
  color: var(--black-trans-60);
}
.has-black-trans-60-background-color {
  background-color: var(--black-trans-60);
}
.has-black-trans-60-border-color {
  border-color: var(--black-trans-60);
}
.has-black-trans-70-color {
  color: var(--black-trans-70);
}
.has-black-trans-70-background-color {
  background-color: var(--black-trans-70);
}
.has-black-trans-70-border-color {
  border-color: var(--black-trans-70);
}
.has-black-trans-80-color {
  color: var(--black-trans-80);
}
.has-black-trans-80-background-color {
  background-color: var(--black-trans-80);
}
.has-black-trans-80-border-color {
  border-color: var(--black-trans-80);
}
.has-black-trans-90-color {
  color: var(--black-trans-90);
}
.has-black-trans-90-background-color {
  background-color: var(--black-trans-90);
}
.has-black-trans-90-border-color {
  border-color: var(--black-trans-90);
}
