/* File: automatic-variables.css - Version: 3.3.5 - Generated: 2025-07-19 20:09:10 */
:root, .color-scheme--main {
  --primary-hex: #171717;
  --primary-hsl: 0 0% 9%;
  --primary-rgb: 23 23 23;
  --primary-r: 23;
  --primary-g: 23;
  --primary-b: 23;
  --primary-h: 0;
  --primary-s: 0%;
  --primary-l: 9%;
  --primary-hover-h: 0;
  --primary-hover-s: 0%;
  --primary-hover-l: 2%;
  --primary-ultra-light-h: 0;
  --primary-ultra-light-s: 0%;
  --primary-ultra-light-l: 98%;
  --primary-light-h: 0;
  --primary-light-s: 0%;
  --primary-light-l: 90%;
  --primary-semi-light-h: 0;
  --primary-semi-light-s: 0%;
  --primary-semi-light-l: 65%;
  --primary-semi-dark-h: 0;
  --primary-semi-dark-s: 0%;
  --primary-semi-dark-l: 35%;
  --primary-dark-h: 0;
  --primary-dark-s: 0%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 0;
  --primary-ultra-dark-s: 0%;
  --primary-ultra-dark-l: 10%;
  --primary: #171717;
  --primary-hover: #050505;
  --primary-ultra-light: #fafafa;
  --primary-light: #e6e6e6;
  --primary-semi-light: #a6a6a6;
  --primary-semi-dark: #595959;
  --primary-dark: #404040;
  --primary-ultra-dark: #1a1a1a;
  --white: #fff;
  --black: #000;
  --primary-trans-10: rgba(23, 23, 23, 0.1);
  --primary-trans-20: rgba(23, 23, 23, 0.2);
  --primary-trans-30: rgba(23, 23, 23, 0.3);
  --primary-trans-40: rgba(23, 23, 23, 0.4);
  --primary-trans-50: rgba(23, 23, 23, 0.5);
  --primary-trans-60: rgba(23, 23, 23, 0.6);
  --primary-trans-70: rgba(23, 23, 23, 0.7);
  --primary-trans-80: rgba(23, 23, 23, 0.8);
  --primary-trans-90: rgba(23, 23, 23, 0.9);
  --primary-light-trans-10: rgba(230, 230, 230, 0.1);
  --primary-light-trans-20: rgba(230, 230, 230, 0.2);
  --primary-light-trans-30: rgba(230, 230, 230, 0.3);
  --primary-light-trans-40: rgba(230, 230, 230, 0.4);
  --primary-light-trans-50: rgba(230, 230, 230, 0.5);
  --primary-light-trans-60: rgba(230, 230, 230, 0.6);
  --primary-light-trans-70: rgba(230, 230, 230, 0.7);
  --primary-light-trans-80: rgba(230, 230, 230, 0.8);
  --primary-light-trans-90: rgba(230, 230, 230, 0.9);
  --primary-dark-trans-10: rgba(64, 64, 64, 0.1);
  --primary-dark-trans-20: rgba(64, 64, 64, 0.2);
  --primary-dark-trans-30: rgba(64, 64, 64, 0.3);
  --primary-dark-trans-40: rgba(64, 64, 64, 0.4);
  --primary-dark-trans-50: rgba(64, 64, 64, 0.5);
  --primary-dark-trans-60: rgba(64, 64, 64, 0.6);
  --primary-dark-trans-70: rgba(64, 64, 64, 0.7);
  --primary-dark-trans-80: rgba(64, 64, 64, 0.8);
  --primary-dark-trans-90: rgba(64, 64, 64, 0.9);
  --primary-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --primary-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --primary-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --primary-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --primary-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --primary-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --primary-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --primary-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --primary-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-30: rgba(255, 255, 255, 0.3);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-50: rgba(255, 255, 255, 0.5);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-70: rgba(255, 255, 255, 0.7);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --bg-ultra-light: var(--neutral-ultra-light);
  --bg-light: var(--neutral-light);
  --bg-dark: var(--neutral-dark);
  --bg-ultra-dark: var(--neutral-ultra-dark);
  --text-light: var(--white);
  --text-light-muted: var(--white-trans-80);
  --text-dark: var(--black);
  --text-dark-muted: var(--black-trans-80);
  --body-bg-color: var(--white);
  --body-color: var(--neutral-trans-80);
  --heading-color: var(--neutral);
}
:root {
  --on: initial;
  --off: ;
  --section-padding-x: 2rem;
  --section-padding-block: var(--section-space-s);
  --section-gutter: 2rem;
  --gutter: 2rem;
  --text-xs: 1.26rem;
  --text-s: 1.42rem;
  --text-m: 1.8rem;
  --text-l: 2.025rem;
  --text-xl: 2.28rem;
  --text-xxl: 2.565rem;
  --root-font-size: 62.5%;
  --h6: 1.26rem;
  --h5: 1.42rem;
  --h4: 1.8rem;
  --h3: 2.025rem;
  --h2: 2.28rem;
  --h1: 2.565rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --content-width: 136.6rem;
  --content-width-safe: min(var(--content-width), calc(100% - var(--gutter) * 2));
  --width-xs: calc(var(--content-width) * 0.1);
  --width-s: calc(var(--content-width) * 0.2);
  --width-m: calc(var(--content-width) * 0.4);
  --width-l: calc(var(--content-width) * 0.6);
  --width-xl: calc(var(--content-width) * 0.8);
  --width-xxl: calc(var(--content-width) * 0.9);
  --width-vp-max: calc(var(--content-width) * 1);
  --width-content: calc(var(--content-width) * 1);
  --width-full: calc(var(--content-width) * 100%);
  --width-10: calc(var(--content-width) * 0.1);
  --width-20: calc(var(--content-width) * 0.2);
  --width-30: calc(var(--content-width) * 0.3);
  --width-40: calc(var(--content-width) * 0.4);
  --width-50: calc(var(--content-width) * 0.5);
  --width-60: calc(var(--content-width) * 0.6);
  --width-70: calc(var(--content-width) * 0.7);
  --width-80: calc(var(--content-width) * 0.8);
  --width-90: calc(var(--content-width) * 0.9);
  --focus-color: var(--neutral);
  --focus-width: 0.15rem;
  --focus-offset: 0.15em;
  --box-shadow-m: 0 0 40px var(--black-trans-10);
  --box-shadow-l: 0 0 60px var(--black-trans-20);
  --box-shadow-xl: 0 0 80px var(--black-trans-30);
  --box-shadow-1: 0 0 40px var(--black-trans-10);
  --box-shadow-2: 0 0 60px var(--black-trans-20);
  --box-shadow-3: 0 0 80px var(--black-trans-30);
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
  --text-xxl-max-width: 100%;
  --text-xl-max-width: 100%;
  --text-l-max-width: 100%;
  --text-m-line-height: calc(1.5);
  --text-m-max-width: 100%;
  --text-s-max-width: 100%;
  --text-xs-max-width: 100%;
  --base-text-lh: calc(1.5);
  --heading-font-family: Inter;
  --heading-color: var(--neutral);
  --heading-line-height: calc(1.2);
  --heading-font-weight: 700;
  --heading-text-wrap: balance;
  --base-heading-lh: calc(1.2);
  --h1-font-family: Inter;
  --h1-max-width: 100%;
  --h2-max-width: 100%;
  --h3-max-width: 100%;
  --h4-line-height: calc(1.2);
  --h4-max-width: 100%;
  --h5-max-width: 100%;
  --h6-max-width: 100%;
  --text-font-family: Inter;
  --text-color: var(--neutral-trans-80);
  --text-line-height: calc(1.5);
  --text-text-wrap: pretty;
}
:root {
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
}
:root {
  --grid-auto-2: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((2 - 1) * var(--grid-gap))) / 2) * 0.7, (100% - (2 - 1) * var(--grid-gap)) / 2)), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((3 - 1) * var(--grid-gap))) / 3) * 0.7, (100% - (3 - 1) * var(--grid-gap)) / 3)), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((4 - 1) * var(--grid-gap))) / 4) * 0.7, (100% - (4 - 1) * var(--grid-gap)) / 4)), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((5 - 1) * var(--grid-gap))) / 5) * 0.7, (100% - (5 - 1) * var(--grid-gap)) / 5)), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((6 - 1) * var(--grid-gap))) / 6) * 0.7, (100% - (6 - 1) * var(--grid-gap)) / 6)), 1fr));
  --grid-auto-7: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((7 - 1) * var(--grid-gap))) / 7) * 0.7, (100% - (7 - 1) * var(--grid-gap)) / 7)), 1fr));
  --grid-auto-8: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((8 - 1) * var(--grid-gap))) / 8) * 0.7, (100% - (8 - 1) * var(--grid-gap)) / 8)), 1fr));
  --grid-auto-9: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((9 - 1) * var(--grid-gap))) / 9) * 0.7, (100% - (9 - 1) * var(--grid-gap)) / 9)), 1fr));
  --grid-auto-10: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((10 - 1) * var(--grid-gap))) / 10) * 0.7, (100% - (10 - 1) * var(--grid-gap)) / 10)), 1fr));
  --grid-auto-11: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((11 - 1) * var(--grid-gap))) / 11) * 0.7, (100% - (11 - 1) * var(--grid-gap)) / 11)), 1fr));
  --grid-auto-12: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((12 - 1) * var(--grid-gap))) / 12) * 0.7, (100% - (12 - 1) * var(--grid-gap)) / 12)), 1fr));
  --auto-grid-aggressiveness: 0.7;
}
:root {
  --header-height: 0rem;
  --header-height-xl: 0rem;
  --header-height-l: 0rem;
  --header-height-m: 0rem;
  --header-height-s: 0rem;
}
@media (max-width: 1350px) {
  :root {
    --header-height: var(--header-height-xl);
  }
}
@media (max-width: 992px) {
  :root {
    --header-height: var(--header-height-l);
  }
}
@media (max-width: 768px) {
  :root {
    --header-height: var(--header-height-m);
  }
}
@media (max-width: 480px) {
  :root {
    --header-height: var(--header-height-s);
  }
}
:root {
  --option-primary-btn-outline: on;
  --option-secondary-btn-outline: on;
  --btn-padding-block: 0.75em;
  --btn-padding-inline: 1em;
  --btn-min-width: 5rem;
  --btn-line-height: 1;
  --btn-font-weight: 600;
  --btn-font-style: normal;
  --btn-text-decoration: none;
  --btn-text-decoration-hover: none;
  --btn-letter-spacing: 0;
  --btn-text-transform: none;
  --btn-border-width: 0.1rem;
  --btn-outline-border-width: 0.1rem;
  --btn-border-style: solid;
  --btn-border-radius: 10em;
  --btn-justify-content: center;
  --btn-text-align: center;
}
:root {
  --btn-font-size: clamp(1.3rem, calc(0.0994035785vw + 1.2642147117rem), 1.4rem);
  --btn-text-size: clamp(1.3rem, calc(0.0994035785vw + 1.2642147117rem), 1.4rem);
}
/* Deprecated in ACSS 2.7 */
:root {
  --btn-border-size: 0.1rem;
  --btn-radius: 10em;
  --outline-btn-border-size: 0.1rem;
  --btn-pad-x: 1em;
  --btn-pad-y: 0.75em;
  --btn-text-style: normal;
  --btn-weight: 600;
  --btn-width: 5;
}
:root {
  --link-color: var(--primary);
  --link-color-hover: var(--primary-hover);
  --link-transition: var(--transition);
  --link-decoration: underline;
  --link-decoration-hover: inherit;
  --link-underline-offset: auto;
  --link-weight: 400;
}
:root {
  --col-width-s: 13rem;
  --col-width-m: 25rem;
  --col-width-l: 38rem;
  --col-rule-width-s: 0.5px;
  --col-rule-width-m: 1px;
  --col-rule-width-l: 3px;
}
:root {
  --sticky-s: 2.5%;
  --sticky-m: 5%;
  --sticky-l: 10%;
}
:root {
  --content-gap: var(--space-m);
  --fr-content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --fr-container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --fr-grid-gap: var(--space-m);
  --bg-ultra-light-text: var(--text-dark);
  --bg-light-text: var(--text-dark);
  --bg-dark-text: var(--text-light);
  --bg-ultra-dark-text: var(--text-light);
  --bg-ultra-light-heading: var(--text-dark);
  --bg-light-heading: var(--text-dark);
  --bg-dark-heading: var(--text-light);
  --bg-ultra-dark-heading: var(--text-light);
  --bg-ultra-light-link: var(--primary);
  --bg-ultra-light-link-hover: var(--primary-hover);
  --bg-light-link: var(--primary);
  --bg-light-link-hover: var(--primary-hover);
  --bg-dark-link: var(--primary);
  --bg-dark-link-hover: var(--primary-hover);
  --bg-ultra-dark-link: var(--primary);
  --bg-ultra-dark-link-hover: var(--primary-hover);
  --bg-ultra-light-button: primary;
  --bg-light-button: primary;
  --bg-dark-button: primary;
  --bg-ultra-dark-button: primary;
}
:root {
  --radius: 1rem;
  --radius-50: 50%;
  --radius-circle: 50vw;
  --radius-none: 0;
  --radius-xs: 0.25rem;
  --radius-s: 0.5rem;
  --radius-m: 1rem;
  --radius-l: 2rem;
  --radius-xl: 4rem;
  --radius-xxl: 8rem;
  --border-size: 1px;
  --border-width: 1px;
  --border-style: solid;
  --border-color-dark: var(--black-trans-20);
  --border-color-light: var(--white-trans-20);
  --border: var(--border-size) var(--border-style) var(--border-color-dark);
  --border-light: var(--border-size) var(--border-style) var(--border-color-light);
  --border-dark: var(--border-size) var(--border-style) var(--border-color-dark);
}
:root {
  --divider-size: 1px;
  --divider-style: solid;
  --divider-inline-size: 100%;
  --divider-gap: var(--content-gap);
  --divider-color-dark: var(--black-trans-20);
  --divider-color-light: var(--white-trans-20);
  --divider: var(--divider-size) var(--divider-style) var(--divider-color-dark);
  --divider-light: var(--divider-size) var(--divider-style) var(--divider-color-light);
  --divider-dark: var(--divider-size) var(--divider-style) var(--divider-color-dark);
}
:root {
  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;
  --transition-delay: 0s;
  --transition: background var(--transition-duration) var(--transition-timing) var(--transition-delay), color var(--transition-duration) var(--transition-timing) var(--transition-delay), border var(--transition-duration) var(--transition-timing) var(--transition-delay);
}
